VentasCliente/src/conf/xml-resources/web-service-references/VentasOperaciones/wsdl/localhost_8080/VentasServidor/VentasOperaciones.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><!-- Generated by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws/" name="VentasOperaciones">
<types>
<xsd:schema>
<xsd:import namespace="http://ws/" schemaLocation="http://localhost:8080/VentasServidor/VentasOperaciones?xsd=1"/>
</xsd:schema>
</types>
<message name="encrypt">
<part name="parameters" element="tns:encrypt"/>
</message>
<message name="encryptResponse">
<part name="parameters" element="tns:encryptResponse"/>
</message>
<message name="Exception">
<part name="fault" element="tns:Exception"/>
</message>
<message name="decrypt">
<part name="parameters" element="tns:decrypt"/>
</message>
<message name="decryptResponse">
<part name="parameters" element="tns:decryptResponse"/>
</message>
<message name="registroUsuario">
<part name="parameters" element="tns:registroUsuario"/>
</message>
<message name="registroUsuarioResponse">
<part name="parameters" element="tns:registroUsuarioResponse"/>
</message>
<portType name="VentasOperaciones">
<operation name="encrypt">
<input wsam:Action="http://ws/VentasOperaciones/encryptRequest" message="tns:encrypt"/>
<output wsam:Action="http://ws/VentasOperaciones/encryptResponse" message="tns:encryptResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://ws/VentasOperaciones/encrypt/Fault/Exception"/>
</operation>
<operation name="decrypt">
<input wsam:Action="http://ws/VentasOperaciones/decryptRequest" message="tns:decrypt"/>
<output wsam:Action="http://ws/VentasOperaciones/decryptResponse" message="tns:decryptResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://ws/VentasOperaciones/decrypt/Fault/Exception"/>
</operation>
<operation name="registroUsuario">
<input wsam:Action="http://ws/VentasOperaciones/registroUsuarioRequest" message="tns:registroUsuario"/>
<output wsam:Action="http://ws/VentasOperaciones/registroUsuarioResponse" message="tns:registroUsuarioResponse"/>
</operation>
</portType>
<binding name="VentasOperacionesPortBinding" type="tns:VentasOperaciones">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="encrypt">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="decrypt">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="registroUsuario">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="VentasOperaciones">
<port name="VentasOperacionesPort" binding="tns:VentasOperacionesPortBinding">
<soap:address location="http://localhost:8080/VentasServidor/VentasOperaciones"/>
</port>
</service>
</definitions>